* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(205, 225, 243);
}


.center {
    border: 10px solid #FFF;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    height: 425px;
    width: 275px;
    position: relative;
    top: 100px;
}

.qr {
    border: 1px solid rgb(75, 137, 231);
    border-radius: 15px;
    background-color: rgb(66, 130, 226);
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    margin-top: 5%;
    content: url(./images/image-qr-code.png);
}

.upper {
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 10px;
}

.lower {
    text-align: center;
    position: relative;
    top: 35px;
    color: rgb(133, 136, 139)
}